.fourSteps li {
	font-size: 30px;

}

#jumbotron {
	padding: 32px;
	padding-bottom: 0;
	background-color: transparent;
	text-align: center;
}

#headingOne {
	font-size: 30px;
}

#introBody {
	margin-top: 50px;
}

#consider {
	text-align: left;
	font-size: 18px;
}

#botDiv {
	text-align: center;
}