.fourSteps li {
	font-size: 30px;

}

#jumbotron {
	padding: 32px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
}

#headingOne {
	font-size: 30px;
}

#introBody {
	margin-top: 50px;
}



