.fourSteps li {
	font-size: 30px;

}

#jumbotron {
	padding: 32px;
	background-color: transparent;
	text-align: center;
}

#headingOne {
	font-size: 30px;
}

#introBody {
	margin-top: 50px;
}

.data {
	margin-left: 200px;
	font-size: 16px;
	text-align: left;
}
.tab { 
	margin-left: 240px; 
	font-size: 16px;
	text-align: left;
}

